@keyframes burst_in {
  0% {
    text-shadow: makelongshadow(50, 1);
    color: $color-red-400;
    transform: scale(1.5, 1.5);
  }
  10% {
    text-shadow: makelongshadow(50, 1.5);
    transform: scale(1.5, 1.5);
  }
  20% {
    text-shadow: none;
    transform: scale(1.1, 1.1);
  }
  75% {
    opacity: 1;
  }
  80% {
    color: $color-red-500;
    transform: scale(0.99, 0.99);
  }

  100% {
    opacity: 1;
  }
}
