// Colors
$color-grey-100: #f7fafc;
$color-grey-200: #f5f5f5;
$color-grey-300: #e2e8f0;
$color-grey-400: #cbd5e0; // Main text color
$color-grey-500: #a0aec0;
$color-grey-600: #718096;
$color-grey-700: #4a5568;
$color-grey-800: #2d3748;
$color-grey-900: #1a202c; // Background color

// /* $color-red-400: #fc8181; // Lighter Red
// $color-red-500: #f56565;
// $color-red-700: #c53030; // Main Red? */
$color-red-100: #fff5f7;
$color-red-200: #fed7e2;
$color-red-300: #fbb6ce;
$color-red-400: #f687b3;
$color-red-500: #ed64a6;
$color-red-600: #d53f8c;
$color-red-700: #b83280;
$color-red-800: #97266d;
$color-red-900: #702459;

// grid
$gutter-horizontal: 2rem;

// Type-scale
$font-size-1: 4.8rem;
$font-size-2: 3.9rem;
$font-size-3: 3.1rem;
$font-size-4: 2.5rem;
$font-size-5: 2rem;
$font-size-6: 1.6rem;

// Shadow
$shadow-primary: 0 1rem 2rem rgba(darken($color-grey-900, 2%), 0.2);
