// Colors
$color-grey-200: #f5f5f5;
$color-grey-300: #e2e8f0;
$color-grey-400: #cbd5e0; // Main text color
$color-grey-500: #a0aec0;
$color-grey-900: #1a202c; // Background color

// /* $color-red-400: #fc8181; // Lighter Red
// $color-red-500: #f56565;
// $color-red-700: #c53030; // Main Red? */

$color-red-400: #ed64a6;
$color-red-500: #d53f8c;
$color-red-700: #702459;

// grid
$gutter-horizontal: 2rem;

// Type-scale
$font-size-1: 4.8rem;
$font-size-2: 3.9rem;
$font-size-3: 3.1rem;
$font-size-4: 2.5rem;
$font-size-5: 2rem;
$font-size-6: 1.6rem;

// Shadow
$shadow-primary: 0 1rem 2rem rgba(darken($color-grey-900, 2%), 0.2);
