.article {
  &__title {
    font-size: $font-size-4;
  }
  &__author,
  &__date {
    font-size: $font-size-5;
    color: $color-grey-600;
    line-height: 1;
  }
  &__author {
    margin-top: 1rem;
  }

  &__date {
    display: block;
    margin-bottom: 4rem;
  }

  &__url,
  &__repo {
    display: inline-block;
    margin-bottom: 2rem;
  }

  &__content {
    line-height: calc(1.5em + 0.2vw);
    transform: translateY(-5px);

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 2rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-variant: small-caps;
    }
  }
  &__content:first-child::first-letter {
    font-size: calc(#{$font-size-1});
    color: $color-grey-400;
  }

  @media (max-width: 670px) {
    &__content {
      margin-top: 4rem;
    }
  }
}
