.home-page {
  padding-top: 2rem;
  border-top: 3px solid $color-red-700;
}

.home-layout {
  height: 100%;
  display: flex;
  flex-direction: Column;
  justify-content: space-between;
  height: 90vh;

  &__top {
    flex: none;
  }
  &__bottom {
    flex: none;

    //TODO: Better with or without top border??? ⁉
    // [class*='col-'] {
    //   border-top: 3px solid $color-grey-500;
    //   padding-top: 1rem;
    // }
  }
}
