.home-page {
  border-top: 3px solid $color-red-700;
}

.home-layout {
  padding-top: 4rem;
  display: flex;
  height: 90vh;
  flex-direction: Column;
  justify-content: space-between;

  &__top {
    flex: none;
  }
  &__bottom {
    flex: none;
    order: 2;

    a:link,
    a:visited {
      box-shadow: none;
      color: $color-grey-500;
      transition: all 0.2s;
    }
    a:hover,
    a:focus,
    a:active {
      color: $color-grey-200;
    }

    //TODO: Better with or without top border??? ⁉
    // [class*='col-'] {
    //   border-top: 3px solid $color-grey-500;
    //   padding-top: 1rem;
    // }
  }
}
