extends layout

block content
    div(style='position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);')
        h1(style='font-size:3rem;') 404: Page cannot be found!
        br
        a(href='/') Return to home