extends layout

block content
    main
        article
            div.container.u-margin-top-medium
                h1=result.title
                time=result.time
                p=result.author
                p=result.content