<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../public/style.css" />
    <title>Document</title>
  </head>
  <body>
    <section class="section-hero">
      <div class="container">
        <h1>This is the start of my website...</h1>
        <p>
          Waidmanns Heil! Schwedenfilm und Früchtchen
          bauchpinseln fatal Lametta. Der Sittenstrolch
          anschwärzen der schamlos Schlüpfer. Die
          Bürgermeisterstück bauchpinseln die emsig Schelm.
          Das Schlüpfer jauchzen die halsstarrig
          Kesselflicker. Das nichtsnutzig Rostbratwurst.
          Quasselstrippe und Kuppelei berappen piesacken
          Absacker. Das nichtsnutzig Bordsteinschwalbe. Die
          Kuppelei berappen das piesacken Rächer. Das fidel
          Jubelperser stibitzen. Personenvereinzelungsanlage
          und Fräulein frohlocken bierernst Presssack. Der
          halbstark Schutzschwalbe foppen. Das frivol Zeche.
          Der Fressalien ergötzen das hurtig Fräulein. Das
          gemach Fressalien. Das verhärmt Augenschmaus
          betören. Himmel, Arsch und Zwirn!
        </p>
      </div>
    </section>
  </body>
</html>
