extends layout

block content
  main
    section.section-hero
      div.container
        div.hero-text.u-margin-bottom-small
          h1.hero-text__heading= heroText
        div.hero-image
          img.hero-image__picture(src=heroImageSrc, alt=heroImageAlt)
        div.u-margin-bottom-small
          a.hero-link(href="/") See my work
          a.hero-link(href="/") Let's work together
        
        p.hero-copy #{aboutMeText}

    //Blog posts, if exists
    //Projects, if exists