extends layout

block content
  nav
  
  main
    div.container
      div.flex-grid
        div.col-2-of-4
          h1= name
          h2= heroText
        div.col-1-of-4
          p Testing regular font face
        div.col-1-of-4
          p #[em this s*** is italics, I.T.A.L.I.C.S]
              

    //- Blog posts, if exists
    //- Projects, if exists

    //- heroText, heroImageSrc, heroImageAlt, aboutMeText