extends layout

block content
  nav
  
  main
    section.home-page
      div.container
        div.home-layout
          div.home-layout__top
            div.flex-grid
              div.col-3-of-4
                h1.heading-primary= name
                h2.heading-secondary= heroText
              div.col-1-of-4
                nav.main-nav
                  a(href='/') Home
                  br
                  a(href='/projects') Projects
                  br
                  a(href='/blog') Blog
                  
          div.content-area
            div.hero-section
              div.hero-section__initial.hero-section__initial--a m
              div.hero-section__initial.hero-section__initial--b l
          
          //-  p #{aboutMeText}


          //- TODO:Switch between 3 Areas:
          //-   Flashy area: colorful shapes, desaturated pic of me (Start here) 😘
          //-   About me
          //-   Contact form
          div.home-layout__bottom
            div.flex-grid
              div.col-1-of-4
                h2.home-layout__links Latest writing
                p article one
                p article 2
              div.col-1-of-4
                h2.home-layout__links Links
                a(href='https://twitter.com/Matthew_M_Lewin' target='_blank') Twitter
                br
                a(href='https://www.linkedin.com/in/matthew-lewin/' target='_blank') LinkedIn
                br
                a(href='https://github.com/Matthew-Lewin/' target='_blank') Github
              div.col-2-of-4
                h2 Join my mailing list
                form.mail-form(action="/" method="POST")
                  label.mail-form__label(for="email-signup") Email
                  input.mail-form__input#email-signup(type="email" placeholder="name@email.com")
                  button.u-margin-top-small.mail-form__button(type="submit") Submit

    //- Blog posts, if exists
    //- Projects, if exists

    //- heroText, heroImageSrc, heroImageAlt, aboutMeText

    //- TODO: On mobile, all link columns disappear
    //-   Replace them with a menu button on the bottom of the screen that brings up links