extends layout

block content
  main
    section(class="section-hero")
      div(class="container")
        div(class="hero-text")
          h1(class="hero-text__heading")= heroText
        div(class='hero-image')
          img(class="hero-image__picture" src=heroImageSrc, alt=heroImageAlt)
        div(class="row")
          div(class="col-1-of-3")
            a(href="/") See my work
          div(class="col-1-of-3")
            a(href="/") Let's work together
        
        p #{aboutMeText}