extends layout

block content
  nav
  
  main
    section.home-page
      div.container
        div.home-layout
          div.home-layout__top
            div.flex-grid
              div.col-2-of-4
                h1= name
                h2= heroText
          div.home-layout__bottom
            div.flex-grid
              div.col-1-of-4
                a(href='/projects') Projects
                br
                a(href='/Blog') Blog
              div.col-1-of-4
                a(href='https://twitter.com/Matthew_M_Lewin' target='_blank') Twitter
                br
                a(href='https://www.linkedin.com/in/matthew-lewin/' target='_blank') LinkedIn

    //- Blog posts, if exists
    //- Projects, if exists

    //- heroText, heroImageSrc, heroImageAlt, aboutMeText