extends layout

block content
  nav
  
  main
    h1= title
    p Testing regular font face
    p #[em this s*** is italics, I.T.A.L.I.C.S]
              

    //Blog posts, if exists
    //Projects, if exists

    //heroText, heroImageSrc, heroImageAlt, aboutMeText