extends layout

block content
  nav
  
  main
    section.home-page
      div.container
        div.home-layout

          div.root
            div.intro-text.u-margin-top-large
              h1.intro-text__heading Full stack development 
                br
                | with a human touch
            div.flex-grid.u-margin-top-medium
              div.col-1-of-3
                button.root__change About me
              div.col-1-of-3
                button.root__change Get in touch

          div.home-layout__bottom
            //- TODO: Make this on the bottom via flex-properties,
            //-       So good doc structure remains
            div.flex-grid
              div.col-2-of-4
                h2.heading-primary= name
                h3.heading-secondary= heroText
              div.col-1-of-4
                nav.main-nav
                  a(href='/').main-nav__link Home
                  br
                  a(href='/projects').main-nav__link My Work
                  br
                  a(href='/blog').main-nav__link Blog
              div.col-1-of-4
                a(href='https://twitter.com/Matthew_M_Lewin' target='_blank') Twitter
                br
                a(href='https://www.linkedin.com/in/matthew-lewin/' target='_blank') LinkedIn
                br
                a(href='https://github.com/Matthew-Lewin/' target='_blank') Github
          //- .root is the area where content will be hot swapped via JS
          



          //- TODO:Switch between 3 Areas:
          //-   Flashy area: colorful shapes, desaturated pic of me (Start here) 😘
          //-   About me
          //-   Contact form
          

              
    //- heroText, heroImageSrc, heroImageAlt, aboutMeText

    //- TODO: On mobile, all link columns disappear
    //-   Replace them with a menu button on the bottom of the screen that brings up links