extends layout

block content
  nav
  
  main
    div.flex-grid
      div.col
        h1= title
      div.col
        p Testing regular font face
      div.col
        p #[em this s*** is italics, I.T.A.L.I.C.S]
              

    //Blog posts, if exists
    //Projects, if exists

    //heroText, heroImageSrc, heroImageAlt, aboutMeText