extends layout

block content
  nav
  
  main
    section.home-page
      div.container
        div.home-layout
          //- .root is the area where content will be hot swapped via JS
          div.root
            p.u-margin-top-large #{aboutMeText}


          //- TODO:Switch between 3 Areas:
          //-   Flashy area: colorful shapes, desaturated pic of me (Start here) 😘
          //-   About me
          //-   Contact form
          div.home-layout__bottom
            //- TODO: Make this on the bottom via flex-properties,
            //-       So good doc structure remains
            div.flex-grid
              div.col-2-of-4
                h1.heading-primary= name
                h2.heading-secondary= heroText
              div.col-1-of-4
                nav.main-nav
                  a(href='/') Home
                  br
                  a(href='/projects') Projects
                  br
                  a(href='/blog') Blog
              div.col-1-of-4
                a(href='https://twitter.com/Matthew_M_Lewin' target='_blank') Twitter
                br
                a(href='https://www.linkedin.com/in/matthew-lewin/' target='_blank') LinkedIn
                br
                a(href='https://github.com/Matthew-Lewin/' target='_blank') Github

              
    //- heroText, heroImageSrc, heroImageAlt, aboutMeText

    //- TODO: On mobile, all link columns disappear
    //-   Replace them with a menu button on the bottom of the screen that brings up links