extends layout

block content
  nav
  
  main
    section.home-page
      div.container
        div.home-layout
          div.home-layout__top
            div.flex-grid
              div.col-2-of-4
                h1= name
                h2= heroText
          div.content-area
            p #{aboutMeText}
          //- TODO:Switch between 3 Areas:
          //-   Flashy area: colorful shapes, desaturated pic of me (Start here) 😘
          //-   About me
          //-   Contact form
          div.home-layout__bottom
            div.flex-grid
              div.col-1-of-4
                h2.home-layout__links My work
                a(href='/projects') Projects
                br
                a(href='/Blog') Blog
              div.col-1-of-4
                h2.home-layout__links Latest writing
                p article one
                p article 2
              div.col-1-of-4
                h2.home-layout__links Links
                a(href='https://twitter.com/Matthew_M_Lewin' target='_blank') Twitter
                br
                a(href='https://www.linkedin.com/in/matthew-lewin/' target='_blank') LinkedIn

    //- Blog posts, if exists
    //- Projects, if exists

    //- heroText, heroImageSrc, heroImageAlt, aboutMeText