@keyframes burst_in {
  0% {
    text-shadow: 0px 0px transparent, 1px 1px #702459, 2px 2px #702459, 3px 3px #702459, 4px 4px #702459, 5px 5px #702459, 6px 6px #702459, 7px 7px #702459, 8px 8px #702459, 9px 9px #702459, 10px 10px #702459, 11px 11px #702459, 12px 12px #702459, 13px 13px #702459, 14px 14px #702459, 15px 15px #702459, 16px 16px #702459, 17px 17px #702459, 18px 18px #702459, 19px 19px #702459, 20px 20px #702459, 21px 21px #702459, 22px 22px #702459, 23px 23px #702459, 24px 24px #702459, 25px 25px #702459, 26px 26px #702459, 27px 27px #702459, 28px 28px #702459, 29px 29px #702459, 30px 30px #702459, 31px 31px #702459, 32px 32px #702459, 33px 33px #702459, 34px 34px #702459, 35px 35px #702459, 36px 36px #702459, 37px 37px #702459, 38px 38px #702459, 39px 39px #702459, 40px 40px #702459, 41px 41px #702459, 42px 42px #702459, 43px 43px #702459, 44px 44px #702459, 45px 45px #702459, 46px 46px #702459, 47px 47px #702459, 48px 48px #702459, 49px 49px #702459, 50px 50px #702459, 51px 51px #702459, 52px 52px #702459, 53px 53px #702459, 54px 54px #702459, 55px 55px #702459, 56px 56px #702459, 57px 57px #702459, 58px 58px #702459, 59px 59px #702459, 60px 60px #702459, 61px 61px #702459, 62px 62px #702459, 63px 63px #702459, 64px 64px #702459, 65px 65px #702459, 66px 66px #702459, 67px 67px #702459, 68px 68px #702459, 69px 69px #702459, 70px 70px #702459, 71px 71px #702459, 72px 72px #702459, 73px 73px #702459, 74px 74px #702459, 75px 75px #702459, 76px 76px #702459, 77px 77px #702459, 78px 78px #702459, 79px 79px #702459, 80px 80px #702459, 81px 81px #702459, 82px 82px #702459, 83px 83px #702459, 84px 84px #702459, 85px 85px #702459, 86px 86px #702459, 87px 87px #702459, 88px 88px #702459, 89px 89px #702459, 90px 90px #702459, 91px 91px #702459, 92px 92px #702459, 93px 93px #702459, 94px 94px #702459, 95px 95px #702459, 96px 96px #702459, 97px 97px #702459, 98px 98px #702459, 99px 99px #702459, 100px 100px #702459;
    color: #a0aec0;
    transform: scale(1.5, 1.5);
  }
  10% {
    text-shadow: 0px 0px transparent, 1px 1.5px #702459, 2px 3px #702459, 3px 4.5px #702459, 4px 6px #702459, 5px 7.5px #702459, 6px 9px #702459, 7px 10.5px #702459, 8px 12px #702459, 9px 13.5px #702459, 10px 15px #702459, 11px 16.5px #702459, 12px 18px #702459, 13px 19.5px #702459, 14px 21px #702459, 15px 22.5px #702459, 16px 24px #702459, 17px 25.5px #702459, 18px 27px #702459, 19px 28.5px #702459, 20px 30px #702459, 21px 31.5px #702459, 22px 33px #702459, 23px 34.5px #702459, 24px 36px #702459, 25px 37.5px #702459, 26px 39px #702459, 27px 40.5px #702459, 28px 42px #702459, 29px 43.5px #702459, 30px 45px #702459, 31px 46.5px #702459, 32px 48px #702459, 33px 49.5px #702459, 34px 51px #702459, 35px 52.5px #702459, 36px 54px #702459, 37px 55.5px #702459, 38px 57px #702459, 39px 58.5px #702459, 40px 60px #702459, 41px 61.5px #702459, 42px 63px #702459, 43px 64.5px #702459, 44px 66px #702459, 45px 67.5px #702459, 46px 69px #702459, 47px 70.5px #702459, 48px 72px #702459, 49px 73.5px #702459, 50px 75px #702459, 51px 76.5px #702459, 52px 78px #702459, 53px 79.5px #702459, 54px 81px #702459, 55px 82.5px #702459, 56px 84px #702459, 57px 85.5px #702459, 58px 87px #702459, 59px 88.5px #702459, 60px 90px #702459, 61px 91.5px #702459, 62px 93px #702459, 63px 94.5px #702459, 64px 96px #702459, 65px 97.5px #702459, 66px 99px #702459, 67px 100.5px #702459, 68px 102px #702459, 69px 103.5px #702459, 70px 105px #702459, 71px 106.5px #702459, 72px 108px #702459, 73px 109.5px #702459, 74px 111px #702459, 75px 112.5px #702459, 76px 114px #702459, 77px 115.5px #702459, 78px 117px #702459, 79px 118.5px #702459, 80px 120px #702459, 81px 121.5px #702459, 82px 123px #702459, 83px 124.5px #702459, 84px 126px #702459, 85px 127.5px #702459, 86px 129px #702459, 87px 130.5px #702459, 88px 132px #702459, 89px 133.5px #702459, 90px 135px #702459, 91px 136.5px #702459, 92px 138px #702459, 93px 139.5px #702459, 94px 141px #702459, 95px 142.5px #702459, 96px 144px #702459, 97px 145.5px #702459, 98px 147px #702459, 99px 148.5px #702459, 100px 150px #702459;
    color: #a0aec0;
    transform: scale(1.5, 1.5);
  }
  15% {
    color: #a0aec0;
  }
  20% {
    color: #d53f8c;
    text-shadow: none;
    transform: scale(1.1, 1.1);
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 1;
    color: #d53f8c;
    transform: scale(1, 1);
  }
  100% {
    opacity: 1;
  }
}
.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

body {
  background-color: #1a202c;
  z-index: 1;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

img {
  width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  box-sizing: border-box;
}

a:link,
a:visited {
  color: #e2e8f0;
  font-weight: 400;
  text-decoration: none;
  box-shadow: inset 0 -0.07em 0 #ed64a6;
  transition: all 0.3s;
}

a:active,
a:hover,
a:focus {
  color: #f5f5f5;
  box-shadow: inset 0 -1em 0 #702459;
}

button {
  color: #cbd5e0;
  font-weight: 400;
  text-decoration: none;
  box-shadow: inset 0 -0.07em 0 #ed64a6;
  transition: all 0.3s;
  background: none;
  border: none;
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 2.5rem;
  transform: translateY(0);
}
button:hover, button:focus {
  color: #cbd5e0;
  box-shadow: inset 0 -1em 0 #702459, 0 0.5rem 1rem rgba(15, 18, 25, 0.2);
  transform: translateY(-3px) scale(1.1, 1.1);
}
button:hover:active, button:focus:active {
  transform: translateY(-1px) scale(1.05, 1.05);
  box-shadow: inset 0 -1em 0 #702459, 0 0.25rem 0.5rem rgba(15, 18, 25, 0.2);
}

.home-page {
  border-top: 3px solid #702459;
}

.home-layout {
  padding-top: 4rem;
  display: flex;
  height: 90vh;
  flex-direction: Column;
  justify-content: space-between;
}
.home-layout__top {
  flex: none;
}
.home-layout__bottom {
  flex: none;
  order: 2;
}
.home-layout__bottom a:link,
.home-layout__bottom a:visited {
  box-shadow: none;
  color: #a0aec0;
  transition: all 0.2s;
}
.home-layout__bottom a:hover,
.home-layout__bottom a:focus,
.home-layout__bottom a:active {
  color: #f5f5f5;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("../fonts/ibm_plex_bold.woff2") format("woff2");
  font-weight: 700;
  font-variant: common-ligatures;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url("../fonts/ibm_plex_regular.woff2") format("woff2");
  font-weight: 400;
  font-variant: common-ligatures;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url("../fonts/ibm_plex_italic.woff2") format("woff2");
  font-weight: 400;
  font-variant: common-ligatures;
  font-style: italic;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url("../fonts/ibm_plex_semibold.woff2") format("woff2");
  font-weight: 600;
  font-variant: common-ligatures;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.4;
  color: #a0aec0;
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  color: #e2e8f0;
  letter-spacing: 1.5px;
  line-height: 0.8;
  margin-bottom: 1rem;
}

h2 {
  font-weight: 700;
  font-size: 2.5rem;
  color: #cbd5e0;
  letter-spacing: 1px;
}

em,
i {
  font-style: italic;
}

.heading-primary {
  font-size: 3.1rem;
  color: #cbd5e0;
  line-height: 0.8;
}

.heading-secondary {
  font-size: 2.5rem;
  color: #a0aec0;
  font-weight: 400;
  line-height: 1.4;
}

/* .hero-box {
  &__image {
    //filter: brightness(50%) grayscale(100%);
    position: relative;
    left: -2rem;

    img {
      filter: grayscale(80%) brightness(70%);
      border-radius: 4px;
      box-shadow: 0 1rem 2rem rgba(#1a202c, 0.3);
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      width: 100%;
      height: 100%;
      border: 5px solid $color-red-700;
      border-radius: 4px;
      filter: none;
      z-index: -1;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -1.5rem;
      left: 0.5rem;
      width: 100%;
      height: 100%;
      border: 5px solid $color-red-700;
      filter: none;
      border-radius: 4px;
      z-index: 2;
    }
    //TODO: on load, borders seperate out,
    //shadow becomes pronounced
  }

  &__heading {
    font-weight: 900;
    font-size: 5rem;
  }
}
 */
.section-hero {
  height: 90vh;
  position: relative;
}
.section-hero .hero-text {
  margin-top: 10rem;
}
.section-hero .hero-text__heading {
  font-size: 4rem;
}
.section-hero .hero-image {
  width: 30%;
  position: absolute;
  right: 12%;
  top: 10%;
  z-index: -1;
  max-width: 500px;
}
.section-hero .hero-image__picture {
  width: 100%;
  height: auto;
  filter: grayscale(80%) brightness(70%) drop-shadow(0 4rem 2rem rgba(0, 0, 0, 0.5));
  clip-path: circle();
  position: relative;
}
.section-hero .hero-link {
  display: inline-block;
}
.section-hero .hero-copy {
  background: rgba(26, 32, 44, 0.6);
}

.mail-form__label {
  line-height: 1.6rem;
}
.mail-form__input {
  display: block;
  border: none;
  line-height: 1.6;
  font-size: 1.6rem;
  width: 100%;
  max-width: 275px;
  background-color: #0f1219;
  color: #a0aec0;
  border-bottom: 2px solid #a0aec0;
  transition: all 0.2s;
}
.mail-form__input:focus {
  background-color: #1a202c;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.mail-form__button {
  line-height: 1.6rem;
  border: 2px solid #a0aec0;
  background-color: #a0aec0;
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 2rem;
  font-weight: 700;
  border-radius: 4px;
  color: #1a202c;
  padding: 0.5rem 2rem;
}

.u-margin-top-large {
  margin-top: 16rem;
}

.u-margin-top-medium {
  margin-top: 8rem;
}

.u-margin-top-small {
  margin-top: 4rem;
}

.u-margin-bottom-large {
  margin-bottom: 16rem;
}

.u-margin-bottom-medium {
  margin-bottom: 8rem;
}

.u-margin-bottom-small {
  margin-bottom: 4rem;
}

.u-margin-left-large {
  margin-left: 16rem;
}

.u-margin-left-medium {
  margin-left: 8rem;
}

.u-margin-left-small {
  margin-left: 4rem;
}

.u-margin-right-large {
  margin-right: 16rem;
}

.u-margin-right-medium {
  margin-right: 8rem;
}

.u-margin-right-small {
  margin-right: 4rem;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.flex-grid [class*=col-]:not(:last-child) {
  margin-right: 2rem;
}
.flex-grid .col {
  flex: 1;
}
.flex-grid .col-1-of-4 {
  width: calc((100% - (3 * 2rem)) * (1 / 4));
}
.flex-grid .col-2-of-4 {
  width: calc((100% - (3 * 2rem)) * (1 / 2));
}
.flex-grid .col-3-of-4 {
  width: calc((100% - (3 * 2rem)) * (3 / 4));
}
.flex-grid .col-1-of-3 {
  width: calc((100% - (2 * 2rem)) * (1 / 3));
}
.flex-grid .col-2-of-3 {
  width: calc((100% - (1 * 2rem)) * (2 / 3));
}
.flex-grid .col-1-of-2 {
  width: calc((100% - (1 * 2rem)) * (1 / 2));
}
.flex-grid .col--offset-1-of-4 {
  margin-left: calc( (100% - (3 * 2rem)) * (1 / 4) );
}
.flex-grid .col--offset-2-of-4 {
  margin-left: calc( (100% - (3 * 2rem)) * (1 / 2) );
}
.flex-grid .col--offset-3-of-4 {
  margin-left: calc( (100% - (3 * 2rem)) * (3 / 4) );
}
.flex-grid .col--offset-1-of-3 {
  margin-left: calc( (100% - (2 * 2rem)) * (1 / 3) );
}
.flex-grid .col--offset-2-of-3 {
  margin-left: calc( (100% - (1 * 2rem)) * (2 / 3) );
}
.flex-grid .col--offset-1-of-2 {
  margin-left: calc( (100% - (1 * 2rem)) * (1 / 2) );
}

/* @media (max-width: ) {
  .flex-grid {
    display:block;
  }
} */
.hero-section {
  position: relative;
  height: 70vh;
}
.hero-section__initial {
  font-size: 35rem;
  font-weight: 700;
  position: absolute;
}
.hero-section__initial--a {
  color: #702459;
  bottom: 0;
  left: -2rem;
}
.hero-section__initial--b {
  color: rgba(245, 245, 245, 0.4);
  bottom: 0;
  left: 20rem;
}

.root {
  flex: 2 1 auto;
  align-self: flex-start;
  width: 100%;
}
.root .intro-text__heading {
  font-size: 4.8rem;
  font-weight: 700;
  color: #e2e8f0;
  animation: burst_in 3s;
  animation-fill-mode: backwards;
  outline: none;
  white-space: nowrap;
  line-height: 1;
}

/*# sourceMappingURL=style.css.map */
