@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(-5rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slide-in {
  0% {
    transform: translateX(-2rem, -1rem) scale(0.7);
    filter: blur(100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    filter: none;
    transform: translateX(-2rem, -1rem) scale(1);
  }
}
@keyframes fade-in-bottom {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

body {
  background-color: #1a202c;
  z-index: 1;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

img {
  width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  box-sizing: border-box;
}

a:link,
a:visited {
  color: #e2e8f0;
  font-weight: 400;
  text-decoration: none;
  box-shadow: inset 0 -0.07em 0 #ed64a6;
  transition: all 0.3s;
}

a:active,
a:hover,
a:focus {
  color: #f5f5f5;
  box-shadow: inset 0 -1em 0 #702459;
}

button {
  color: #cbd5e0;
  font-weight: 400;
  text-decoration: none;
  box-shadow: inset 0 -0.07em 0 #ed64a6;
  transition: all 0.3s;
  background: none;
  border: none;
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 2.5rem;
  transform: translateY(0);
}
button:hover, button:focus {
  color: #cbd5e0;
  box-shadow: inset 0 -1em 0 #702459, 0 0.5rem 1rem rgba(15, 18, 25, 0.2);
  transform: translateY(-3px) scale(1.1, 1.1);
}
button:hover:active, button:focus:active {
  transform: translateY(-1px) scale(1.05, 1.05);
  box-shadow: inset 0 -1em 0 #702459, 0 0.25rem 0.5rem rgba(15, 18, 25, 0.2);
}

.home-page {
  border-top: 3px solid #702459;
}

.home-layout {
  padding-top: 4rem;
  display: flex;
  height: 90vh;
  flex-direction: Column;
  justify-content: space-between;
}
.home-layout__top {
  flex: none;
}
.home-layout__bottom {
  flex: none;
  order: 2;
}
.home-layout__bottom a:link,
.home-layout__bottom a:visited {
  box-shadow: none;
  color: #a0aec0;
  transition: all 0.2s;
}
.home-layout__bottom a:hover,
.home-layout__bottom a:focus,
.home-layout__bottom a:active {
  color: #f5f5f5;
}
.home-layout__bottom .current-page:link,
.home-layout__bottom .current-page:visited {
  color: #e2e8f0;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("../fonts/ibm_plex_bold.woff2") format("woff2");
  font-weight: 700;
  font-variant: common-ligatures;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url("../fonts/ibm_plex_regular.woff2") format("woff2");
  font-weight: 400;
  font-variant: common-ligatures;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url("../fonts/ibm_plex_italic.woff2") format("woff2");
  font-weight: 400;
  font-variant: common-ligatures;
  font-style: italic;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url("../fonts/ibm_plex_semibold.woff2") format("woff2");
  font-weight: 600;
  font-variant: common-ligatures;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.4;
  color: #a0aec0;
  text-rendering: optimizeLegibility;
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  color: #e2e8f0;
  letter-spacing: 1.5px;
  line-height: 0.8;
  margin-bottom: 1rem;
}

h2 {
  font-weight: 700;
  font-size: 2.5rem;
  color: #cbd5e0;
  letter-spacing: 1px;
}

em,
i {
  font-style: italic;
}

.heading-primary {
  font-size: 3.1rem;
  color: #cbd5e0;
  line-height: 1;
}

.heading-secondary {
  font-size: 2.5rem;
  color: #a0aec0;
  font-weight: 400;
  line-height: 1.1;
}

@media (max-width: 670px) {
  .heading-primary {
    margin-bottom: 2rem;
  }
}
/* .hero-box {
  &__image {
    //filter: brightness(50%) grayscale(100%);
    position: relative;
    left: -2rem;

    img {
      filter: grayscale(80%) brightness(70%);
      border-radius: 4px;
      box-shadow: 0 1rem 2rem rgba(#1a202c, 0.3);
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      width: 100%;
      height: 100%;
      border: 5px solid $color-red-700;
      border-radius: 4px;
      filter: none;
      z-index: -1;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -1.5rem;
      left: 0.5rem;
      width: 100%;
      height: 100%;
      border: 5px solid $color-red-700;
      filter: none;
      border-radius: 4px;
      z-index: 2;
    }
    //TODO: on load, borders seperate out,
    //shadow becomes pronounced
  }

  &__heading {
    font-weight: 900;
    font-size: 5rem;
  }
}
 */
.section-hero {
  height: 90vh;
  position: relative;
}
.section-hero .hero-text {
  margin-top: 10rem;
}
.section-hero .hero-text__heading {
  font-size: 4rem;
}
.section-hero .hero-image {
  width: 30%;
  position: absolute;
  right: 12%;
  top: 10%;
  z-index: -1;
  max-width: 500px;
}
.section-hero .hero-image__picture {
  width: 100%;
  height: auto;
  filter: grayscale(80%) brightness(70%) drop-shadow(0 4rem 2rem rgba(0, 0, 0, 0.5));
  clip-path: circle();
  position: relative;
}
.section-hero .hero-link {
  display: inline-block;
}
.section-hero .hero-copy {
  background: rgba(26, 32, 44, 0.6);
}

.mail-form__label {
  line-height: 1.6rem;
}
.mail-form__input {
  display: block;
  border: none;
  line-height: 1.6;
  font-size: 1.6rem;
  width: 100%;
  max-width: 275px;
  background-color: #0f1219;
  color: #a0aec0;
  border-bottom: 2px solid #a0aec0;
  transition: all 0.2s;
}
.mail-form__input:focus {
  background-color: #1a202c;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.mail-form__button {
  line-height: 1.6rem;
  border: 2px solid #a0aec0;
  background-color: #a0aec0;
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 2rem;
  font-weight: 700;
  border-radius: 4px;
  color: #1a202c;
  padding: 0.5rem 2rem;
}

.u-margin-top-large {
  margin-top: 16rem;
}

.u-margin-top-medium {
  margin-top: 8rem;
}

.u-margin-top-small {
  margin-top: 4rem;
}

.u-margin-bottom-large {
  margin-bottom: 16rem;
}

.u-margin-bottom-medium {
  margin-bottom: 8rem;
}

.u-margin-bottom-small {
  margin-bottom: 4rem;
}

.u-margin-left-large {
  margin-left: 16rem;
}

.u-margin-left-medium {
  margin-left: 8rem;
}

.u-margin-left-small {
  margin-left: 4rem;
}

.u-margin-right-large {
  margin-right: 16rem;
}

.u-margin-right-medium {
  margin-right: 8rem;
}

.u-margin-right-small {
  margin-right: 4rem;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.flex-grid [class*=col-]:not(:last-child) {
  margin-right: 2rem;
}
.flex-grid .col {
  flex: 1;
}
.flex-grid .col-1-of-4 {
  width: calc((100% - (3 * 2rem)) * (1 / 4));
}
.flex-grid .col-2-of-4 {
  width: calc((100% - (3 * 2rem)) * (1 / 2));
}
.flex-grid .col-3-of-4 {
  width: calc((100% - (3 * 2rem)) * (3 / 4));
}
.flex-grid .col-1-of-3 {
  width: calc((100% - (2 * 2rem)) * (1 / 3));
}
.flex-grid .col-2-of-3 {
  width: calc((100% - (1 * 2rem)) * (2 / 3));
}
.flex-grid .col-1-of-2 {
  width: calc((100% - (1 * 2rem)) * (1 / 2));
}
.flex-grid .col--offset-1-of-4 {
  margin-left: calc( (100% - (3 * 2rem)) * (1 / 4) );
}
.flex-grid .col--offset-2-of-4 {
  margin-left: calc( (100% - (3 * 2rem)) * (1 / 2) );
}
.flex-grid .col--offset-3-of-4 {
  margin-left: calc( (100% - (3 * 2rem)) * (3 / 4) );
}
.flex-grid .col--offset-1-of-3 {
  margin-left: calc( (100% - (2 * 2rem)) * (1 / 3) );
}
.flex-grid .col--offset-2-of-3 {
  margin-left: calc( (100% - (1 * 2rem)) * (2 / 3) );
}
.flex-grid .col--offset-1-of-2 {
  margin-left: calc( (100% - (1 * 2rem)) * (1 / 2) );
}

@media (max-width: 670px) {
  .flex-grid [class*=col-]:not(.sm-1-of-2),
.flex-grid [class*=col-]:not(:last-child):not(.sm-1-of-2),
.flex-grid [class*=col-]:last-child:not(.sm-1-of-2) {
    width: 100%;
    margin-bottom: 0;
    margin-right: 0;
  }
  .flex-grid .sm-1-of-2 {
    width: calc((100% - (1 * 2rem)) * (1 / 2));
  }
  .flex-grid .sm-1-of-2:not(:last-child) {
    margin-right: 2rem;
  }
}
.hero-section {
  position: relative;
  height: 70vh;
}
.hero-section__initial {
  font-size: 35rem;
  font-weight: 700;
  position: absolute;
}
.hero-section__initial--a {
  color: #702459;
  bottom: 0;
  left: -2rem;
}
.hero-section__initial--b {
  color: rgba(245, 245, 245, 0.4);
  bottom: 0;
  left: 20rem;
}

.sm-nav {
  display: none;
}

@media (max-width: 670px) {
  .sm-nav {
    display: block;
  }
  .sm-nav .sm-nav__list {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: block;
    z-index: 3;
    text-align: center;
    width: 100vw;
    background: #1a202c;
    box-shadow: 0 1rem 2rem rgba(22, 27, 38, 0.2);
    transform: translateY(-100vh);
    transition: all 0.3s;
  }
  .sm-nav .sm-nav__list li {
    border-bottom: 2px solid #1e2532;
  }
  .sm-nav .sm-nav__list li a {
    display: inline-block;
    padding: 2rem 8rem;
  }
  .sm-nav .sm-nav__opened {
    transform: translateY(0);
  }
  .sm-nav .sm-nav__button {
    box-shadow: none;
    display: block;
    padding: 1rem 2rem;
    transform: translateY(-1rem);
    color: #a0aec0;
  }
  .sm-nav .sm-nav__button:active, .sm-nav .sm-nav__button:focus, .sm-nav .sm-nav__button:hover {
    box-shadow: none;
    color: #e2e8f0;
  }

  .main-nav {
    display: none;
  }
}
.root {
  flex: 2 1 auto;
  align-self: flex-start;
  width: 100%;
  z-index: 3;
}
.root .intro-text__heading {
  font-size: calc(4.8rem * 1.25);
  line-height: 1;
  text-shadow: 0 1rem 2rem rgba(22, 27, 38, 0.2);
}
.root .intro-text__heading span {
  animation-fill-mode: backwards;
}
.root .intro-text__heading__first-line {
  display: inline-block;
  animation: fade-in-left 1s cubic-bezier(0.59, 0.01, 0.28, 1) 0.5s;
}
.root .intro-text__heading__line {
  display: block;
  animation: fade-in-left 1s cubic-bezier(0.59, 0.01, 0.28, 1) 0.75s;
}
.root .intro-text__heading__line:last-child {
  background: radial-gradient(#d53f8c, #702459);
  color: #f5f5f5;
  display: inline-block;
  padding: 1rem 2rem;
  transform: translate(-2rem, -1rem);
  animation: slide-in 3s cubic-bezier(0.59, 0.01, 0.28, 1) 1.25s;
  z-index: -1;
  animation-fill-mode: backwards;
}
.root__change {
  animation: fade-in-bottom 1s cubic-bezier(0.59, 0.01, 0.28, 1) 2s;
  animation-fill-mode: backwards;
}

/*# sourceMappingURL=style.css.map */
