.blog-post {
  border-top: 2px solid $color-grey-600;
  padding-top: 2rem;
  &__title {
    font-size: $font-size-3;
  }
  &__author,
  &__date {
    font-size: $font-size-6;
    color: $color-grey-600;
    line-height: 1;
  }
  &__author {
    margin-top: 1rem;
  }
}

.blog-post:not(:last-of-type) {
  margin-bottom: 8rem;
}
.blog-post:last-of-type {
  margin-bottom: 4rem;
}
