.mail-form {
  &__label {
    line-height: 1.6rem;
  }
  &__input {
    display: block;
    border: none;
    line-height: 1.6;
    font-size: 1.6rem;
    width: 100%;
    max-width: 275px;
    background-color: darken($color-grey-900, 6%);
    color: $color-grey-500;
    border-bottom: 2px solid $color-grey-500;
    transition: all 0.2s;
    &:focus {
      background-color: $color-grey-900;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    }
  }
  &__button {
    line-height: 1.6rem;
    border: 2px solid $color-grey-500;
    background-color: $color-grey-500;
    font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont,
      'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 2rem;
    font-weight: 700;
    border-radius: 4px;
    color: $color-grey-900;
    padding: 0.5rem 2rem;
  }
}

//-This is the mailing signup
//- div.col-2-of-4
//-   h2 Join my mailing list
//-   form.mail-form(action="/" method="POST")
//-     label.mail-form__label(for="email-signup") Email
//-     input.mail-form__input#email-signup(type="email" placeholder="name@email.com")
//-     button.u-margin-top-small.mail-form__button(type="submit") Submit
