.root {
  flex: 2 1 auto;
  align-self: flex-start;
  width: 100%;

  .intro-text {
    animation: burst_in 3.5s;
    animation-fill-mode: backwards;
    outline: none;
    white-space: nowrap;
    &__heading {
      font-size: $font-size-1;
      font-weight: 700;
      color: $color-grey-300;
    }
  }
}
